---
const {iconsrc, title, link} = Astro.props
---

<a href={link} class="inline-flex gap-1 items-center">
{title ?
    <img class="h-8 fill-black"src={iconsrc} alt={title}/>
    <p>{title}</p>
:
    <img class="h-8 fill-black" src={iconsrc} alt={title}/>
}
</a>